* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  /* background-color: black; */
  background: rgb(76,1,252);
  background: linear-gradient(145deg, rgba(76,1,252,1) 0%, rgba(109,9,159,1) 35%, rgba(254,80,0,1) 100%);
}
.dark h1 {
  color: white;
}

body{
  display:flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
}

#root {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* .App {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
} */

.Container_Wrapper {
    width: 100%;
    height: 100vh;
}

.Container_Absolute {
    top: 0;
    left: 0;
    position: fixed;
    touch-action: none;
}

.Container_Center {
    display: grid;
    place-items: center;
}

.PostsContainer .Post {
  width:18%;
}


.Post {
  overflow:hidden;
  border-color:#ced4da;
}

.Post:hover {
  border-color: #fff;
  box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.40);
  transition: ease-in-out .25s;
}

.Post a {
  text-decoration: none;
  color: black;
}



.Post img {
  height:150px;
  width:300px;
}


.Nav_Container {
    position: fixed;
    margin: 2vmax;
    z-index: 50;
}

.Nav_Top {
  top: 0;
}

.Nav_Left {
  left: 0;
}

.Nav_Right {
  right: 0;
}

.Nav_Bottom {
  bottom: 0;
}

.FilterBar {
  width: 20%;
}

.SearchHome {
  width: 20%;
}


.Search {
  background-color:white;
  border-radius: 4px;
}

.SearchContainer {
  display: flex;
  width: 100%;
  height:80vh;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  margin-top:10vh;
}

.SearchContainer .Searchbar {
  width:61%;
  right: 18%;
}


.SearchResults {
  width: 80vw;
  column-count: 4;
  grid-column-gap: .5rem;
  column-gap: .5rem;
}


.SearchResults .Post {
  display: inline-block;
  width:90%
}

.Nav_Wrapper .brand {
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: 4px 8px;
  border-radius: 4px;
}

.brand {
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: expanded;
  font-weight: bolder;
  color:#000;
  font-size: 60px;
}

.Hero_Wrapper {
  text-align: center;
  color: #fff;
}

.AddPost {
  font-size: 25px;
  width:15%;
}
.AddPost svg {
  position: relative;
  top: -2px;
  left: -5px;
}



.AddContainer {
  display: flex;
  width: 100%;
  height:80vh;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  margin-top:10vh;
}

.AddContainer .Searchbar {
  right: 0;
}

.AddCarousel {
  display:flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  display:flex;
  width: 50vw;
  height:70vh;
  background-color: white;
  border-radius: 4px;
}

.AddCarousel .carousel-indicators li{
  background-color: #007bff;
  cursor: initial;
  pointer-events:none;
}


.AddCarousel .carousel-inner {
  height:100%;
  padding:5%;
}

.AddCarousel form {
  margin-top:10%;
}

.AddCarousel form > * {
  margin: 2.5% 0;
}

.AddCarousel .card-columns {
  grid-column-gap: .5rem;
  column-gap: .5rem;
}
.AddCarousel .card-columns .card {
  width:100%;
  cursor: pointer;
}

.AddCarousel .PreviewCard {
  width:40%;
  margin:auto;
}
.AddContainer .CarouselNav {
  position: absolute;
  display:flex;
  bottom:16vh;
  left:50%;
}
.CarouselNav .left {
  position: absolute;
  right: 40vh;
}

.CarouselNav .right {
  position: absolute;
  left: 40vh;
}

/*  Post Falling Animation  */

.Float_Posts {
  position: absolute;
  top: -50%;
  animation: none;
}

@keyframes move {
  from {
    top: -50%;
  }
  to {
    top: 330%;
  }
}

@-webkit-keyframes move {
  from {
    top: -10%;
  }
  to {
    bottom: -10%;
  }
}