* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  /* background-color: black; */
  background: rgb(76,1,252);
  background: linear-gradient(145deg, rgba(76,1,252,1) 0%, rgba(109,9,159,1) 35%, rgba(254,80,0,1) 100%);
}
.dark h1 {
  color: white;
}

body{
  display:flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
}

#root {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* .App {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
} */

.Container_Wrapper {
    width: 100%;
    height: 100vh;
}

.Container_Absolute {
    top: 0;
    left: 0;
    position: fixed;
    touch-action: none;
}

.Container_Center {
    display: grid;
    place-items: center;
}


.Post {
  overflow:hidden;
  border-color:#ced4da;
}

.Post img {
  height:150px;
  width:300px;
}


.Nav_Container {
    position: fixed;
    margin: 2vmax;
    z-index: 50;
}

.Nav_Wrapper .brand {
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: 4px 8px;
  border-radius: 4px;
}

.Nav_Top {
  top: 0;
}

.Nav_Left {
  left: 0;
}

.Nav_Right {
  right: 0;
}

.Nav_Bottom {
  bottom: 0;
}

.FilterBar {
  width: 20%;
}

.SearchHome {
  width: 20%;
}

.brand {
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: expanded;
  font-weight: bolder;
  color:#000;
  font-size: 60px;
}

.Hero_Wrapper {
  text-align: center;
  color: #fff;
}

.SearchContainer {
  width: 75%;
}

.AddPost {
  font-size: 25px;
  width:15%;
}
.AddPost svg {
  position: relative;
  top: -2px;
  left: -5px;
}

/*  Post Falling Animation  */

.Float_Posts {
  position: absolute;
  top: -50%;
  animation: move 20s linear 60s infinite;
}

@keyframes move {
  from {
    top: -50%;
  }
  to {
    top: 110%;
  }
}

@-webkit-keyframes move {
  from {
    top: -10%;
  }
  to {
    bottom: -10%;
  }
}